
.icon-laptop:before { content: '\e800'; } /* '' */
.icon-tablet:before { content: '\e801'; } /* '' */
.icon-wifi:before { content: '\e802'; } /* '' */
.icon-desktop:before { content: '\e803'; } /* '' */
.icon-terminal:before { content: '\e804'; } /* '' */
.icon-chrome:before { content: '\e841'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-down-circled:before { content: '\f0ab'; } /* '' */
.icon-bug:before { content: '\f188'; } /* '' */
.icon-file-code:before { content: '\f1c9'; } /* '' */